<h1>Your Cart</h1>

<%= link_to "Continue Shopping", products_path %>

<% if @products.any? %>
  <ul>
    <% total = 0 %>

    <% @products.each do |product| %>
      <% quantity = @cart[product.id.to_s].to_i %>
      <% item_total = (product.price || 0) * quantity %>

      <% total += item_total %>

      <li>
        <strong><%= product.name %></strong> — $<%= product.price %> each<br>
        Quantity:
        <%= form_with url: update_quantity_cart_path(product), method: :patch, local: true do %>
          <%= number_field_tag :quantity, quantity, min: 1 %>
          <%= submit_tag "Update" %>
        <% end %>

        <%= button_to "Remove", remove_from_cart_path(product), method: :delete %>

        <p><strong>Total:</strong> $<%= item_total %></p>
        <hr>
      </li>
    <% end %>
  </ul>

  <h3>Grand Total: $<%= total %></h3>
  <%= link_to "Checkout", new_order_path, class: "btn btn-primary" %>


<% else %>
  <p>Your cart is empty.</p>
<% end %>
